*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/.classpath
.factorypath
.springBeans
target



### Devskiller entries
###
### Please do not add anything below this line, your changes will be overwritten
###
__MACOSX/
nbproject/private/
.classpath
/.gradle/
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/about.html
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/org/jacoco/agent/AgentJar.class
/build/classes/java/main/com/customer/controller/exception/ApiError$ApiErrorBuilder.class
/build/classes/java/main/com/customer/controller/exception/ApiError.class
/build/classes/java/main/com/customer/Application.class
/build/resources/main/application.yml
/build/resources/test/application-test.yml
/build/classes/java/test/com/customer/ApplicationTests.class
/build/reports/tests/test/css/base-style.css
/build/resources/main/META-INF/build-info.properties
/build/reports/tests/test/classes/com.customer.ApplicationTests.html
/build/reports/tests/test/classes/com.customer.controller.FileControllerTest.html
/build/reports/tests/test/packages/com.customer.controller.html
/build/reports/tests/test/classes/com.customer.controller.UserControllerTest.html
/build/reports/tests/test/packages/com.customer.html
/build/reports/tests/test/packages/com.customer.repository.html
/build/reports/tests/test/classes/com.customer.repository.UserRepositoryTest.html
/build/reports/tests/test/packages/com.customer.service.html
/build/reports/tests/test/classes/com.customer.service.UserServiceTest.html
/build/libs/customerKata-1.0-SNAPSHOT.jar
/build/classes/java/main/com/customer/controller/exception/ExceptionHandling.class
/build/classes/java/main/com/customer/controller/FileController.class
/build/classes/java/test/com/customer/controller/FileControllerTest.class
/build/classes/java/main/com/customer/service/FileService.class
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/build/reports/tests/test/index.html
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/jacocoagent.jar
/build/tmp/bootJar/MANIFEST.MF
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/META-INF/MANIFEST.MF
/build/classes/java/main/com/customer/exceptions/MaximumSlogansException.class
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
/build/tmp/expandedArchives/org.jacoco.agent-0.8.6.jar_a26f6511a7813217be4cd6439d66563b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/tmp/compileJava/source-classes-mapping.txt
/build/tmp/compileTestJava/source-classes-mapping.txt
/build/reports/tests/test/css/style.css
/build/jacoco/test.exec
/build/test-results/test/TEST-com.customer.ApplicationTests.xml
/build/test-results/test/TEST-com.customer.controller.FileControllerTest.xml
/build/test-results/test/TEST-com.customer.controller.UserControllerTest.xml
/build/test-results/test/TEST-com.customer.repository.UserRepositoryTest.xml
/build/test-results/test/TEST-com.customer.service.UserServiceTest.xml
/build/classes/java/test/com/customer/data/TestData.class
/build/classes/java/main/com/customer/model/User$UserBuilder.class
/build/classes/java/main/com/customer/model/User.class
/build/classes/java/main/com/customer/controller/UserController.class
/build/classes/java/test/com/customer/controller/UserControllerTest.class
/build/classes/java/main/com/customer/entity/UserEntity$UserEntityBuilder.class
/build/classes/java/main/com/customer/entity/UserEntity.class
/build/classes/java/main/com/customer/service/UserMapper.class
/build/classes/java/main/com/customer/service/UserMapperImpl.class
/build/generated/sources/annotationProcessor/java/main/com/customer/service/UserMapperImpl.java
/build/classes/java/main/com/customer/repository/UserRepository.class
/build/classes/java/test/com/customer/repository/UserRepositoryTest.class
/build/classes/java/main/com/customer/service/UserService.class
/build/classes/java/test/com/customer/service/UserServiceTest.class
/build/classes/java/main/com/customer/exceptions/UserUnprocessableException.class
